In [1]:
import time
import datetime
import pandas as pd
from plyer import notification

In [2]:
data = pd.read_csv("C://Users//welcome//Downloads//word-meaning-examples.csv")
data.head()

,Word,Meaning,Examples/0,Examples/1,Examples/2,Examples/3,Examples/4,Examples/5,Examples/6,Examples/7,Examples/8,Examples/9
0,A bed of roses,a phrase used to reference a situation that is...,The poor orphan’s life hasn’t been a bed of ro...,"Because Mark studied for many weeks, taking th...",The stressed business owner quickly realized t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A Priori,something that is believed to be true without ...,Religious people have the a priori belief that...,The jaded woman made a priori assumptions that...,Christopher Columbus had the a priori belief t...,People make a priori assumptions that the sun ...,Lawyers use a priori arguments about their def...,NaN,NaN,NaN,NaN,NaN
2,Aardvark,"a large, long-eared nocturnal animal that uses...",The long-eared aardvark slept all day and ate ...,"With its rabbit like ears and piglike snout, t...","Living a solitary nightlife, the African aardv...",The aardvark is a snouty mammal that dines hea...,"Though it is a small mammal, the closest relat...",NaN,NaN,NaN,NaN,NaN
3,Aback,in amazement; shocked,I was taken aback by the server’s rude comment...,"While Amy enjoyed the film as a whole, as a mi...",Ken believed he had a great marriage so he was...,"At seventy years of age, Wanda was taken aback...",Although I had been exercising daily and eatin...,NaN,NaN,NaN,NaN,NaN
4,Abaft,toward the stern; behind,The wind was abaft which made the ship glide f...,They placed the lifeboats in the rear part of ...,My first sailing lesson was learning that abaf...,"The sea spray was coming from abaft, making my...",I was told to sit abaft to lessen my seasickne...,NaN,NaN,NaN,NaN,NaN

In [3]:
data.shape

(13161, 12)

In [4]:
data.isnull().sum()

Word              0
Meaning          16
Examples/0        0
Examples/1      375
Examples/2      382
Examples/3     1721
Examples/4     1733
Examples/5    11475
Examples/6    11475
Examples/7    11475
Examples/8    11475
Examples/9    11479
dtype: int64

In [5]:
data.dropna( how='any', subset=['Meaning'], inplace=True)

In [6]:
data.shape

(13145, 12)

In [7]:
data.dropna(axis=1,inplace=True)

In [8]:
data.shape

(13145, 3)

In [9]:
data.head()

,Word,Meaning,Examples/0
0,A bed of roses,a phrase used to reference a situation that is...,The poor orphan’s life hasn’t been a bed of ro...
1,A Priori,something that is believed to be true without ...,Religious people have the a priori belief that...
2,Aardvark,"a large, long-eared nocturnal animal that uses...",The long-eared aardvark slept all day and ate ...
3,Aback,in amazement; shocked,I was taken aback by the server’s rude comment...
4,Abaft,toward the stern; behind,The wind was abaft which made the ship glide f...

In [10]:
data.dtypes

Word          object
Meaning       object
Examples/0    object
dtype: object

In [11]:
def submit():
    a = datetime.datetime.strptime(time_txt.get(), "%H%M%S")
    user_time = a.strftime("%H:%M:%S")
    time_txt.set("")
    root.destroy()
    while True:
        current_time = time.strftime("%H:%M:%S")
        if current_time == user_time:
            print("Yes  ",current_time)
            print("Its time to send the notification.")
            for i in range(1,len(data)):
                s1 = data['Word'][i]
                s2 = data['Meaning'][i]
                notification.notify(title=s1,message=s2,app_name="Today's word",timeout=20 )
                time.sleep(24*60*60)
                if i==10:
                    break
    
        else:
            pass

In [ ]:
from tkinter import *
root = Tk()
root.geometry("500x150")
time_txt = StringVar()
time_label = Label(root, text = "Enter the time when you want to get the notification (in HHMMSS format)", font=("comicsans",10))
time_entry = Entry(root, textvariable=time_txt)
sub_btn = Button(root,text = 'Submit', command = submit)
time_label.place(x=20, y=7, width=450, height=50)
time_entry.place(x=150, y=60, width=200, height=30)
sub_btn.place(x=150, y=100, width=200, height=30)
root.mainloop()

Yes   12:52:00
Its time to send the notification.